$colors: (
  'primary': #007bff,
  'secondary': #6c757d,
  'success': #28a745,
  'danger': #dc3545,
  'warning': #ffc107,
  'light': #f8f9fa,
  'dark': #343a40,
  'muted': #6c757d,
);

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #f3f3f3;
}

#info {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;

  div {
    font-size: 1.05rem;
    font-weight: bold;
    padding: 1.5rem;
  }
}

#game {
  > div {
    margin: 2rem 0;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 18vw));
    grid-template-rows: repeat(5, minmax(80px, 100px));
    column-gap: 1vw;
    row-gap: 1vw;

    .box {
      font-size: 1.15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 12px rgba(33, 33, 33, 0.2);
        background-color: darken(#fff, 3);
      }

      &.box-spymaster-red {
        color: map-get($colors, 'danger');
      }

      &.box-spymaster-blue {
        color: blue;
      }

      &.box-spymaster-neutral {
        color: darkgray;
      }

      &.box-spymaster-black {
        color: #000000;
        font-weight: bold;
      }

      &.box-red {
        background-color: red;
        color: #fff;
      }

      &.box-blue {
        background-color: blue;
        color: #fff;
      }

      &.box-neutral {
        background-color: lightgray;
      }

      &.box-black {
        background-color: #000000;
        color: #fff;
      }
    }
  }
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
    background-color: map-get($colors, 'secondary');
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: darken(map-get($colors, 'secondary'), 20);
    }

    &.active {
      background-color: map-get($colors, 'success');
    }
  }
}

#backdrop {
  background-color: rgba(33, 33, 33, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
