#grid {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: repeat(5, 80px);
  column-gap: 10px;
  row-gap: 10px;

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    cursor: pointer;
  }
}

.box-spymaster-red {
  color: red;
  color: red;
}

.box-spymaster-blue {
  color: blue;
}

.box-spymaster-neutral {
  color: darkgray;
}

.box-spymaster-black {
  color: #000000;
}

.box-red {
  background-color: red;
  color: #fff;
}

.box-blue {
  background-color: blue;
  color: #fff;
}

.box-neutral {
  background-color: lightgray;
}

.box-black {
  background-color: #000000;
  color: #ffffff;
}
